<% layout("/layouts/boilerplate") %>


  <div class="row">
    
<div class="alert alert-danger col-6 offset-3" role="alert">
    <h2>StatusCode:<%= error.statusCode %></h2>
    <h4>ErrorMessage:<%= error.message %></h4>
  </div>
  </div>